@import url(http://fonts.googleapis.com/css?family=Roboto);

#container{
    width: 850px;
    margin: auto;
}
#container img{
    cursor: pointer;
    width: 110px;
    height: 80px;
}
#previa{
    background: rgba(0,0,0,0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#previa div{
    margin: 30px auto;
    width: 381px;
}
#formNewTipo label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#formEditTipo label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#form-signin label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#form-recuPass label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}
#formNewPassRecuperada label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#formRecuperarPass label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#formRegistro label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#formEditUsuario label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}
#formPassUser label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

#formPremiumUser label.error {
    color:#FB3A3A;
    font-weight:100;
    font-style: italic;
    font-size: 14px;
    width: 200px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.paginador{
    width: 99% !important;
}

.cantResultPag{
    float: right;
    margin-top: 20px;
    font-size: 12px;
    text-decoration: underline;
}

.disabled{
    cursor: no-drop;
}

.markFav{
    margin-left: 5px;
    cursor: pointer;
}

.unmarkFav{
    margin-left: 5px;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.selected{
    background-color: #ddd !important;
}

.beGrey{
    background-color: #f8f8f8;
}

.dl-horizontal>dt{
    margin-bottom: 5px;
}

.beBlue{
    color: #09406f;
}

.oblique{
    font-style: oblique;
}

.searchHosp{
    font-size: 14px;
    margin-top: 1%;
}