<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EasyHosp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MisSolicitudesController</servlet-name>
    <servlet-class>easyHosp.controller.MisSolicitudesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MisSolicitudesController</servlet-name>
    <url-pattern>/MisSolicitudesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SolicitarHospedajeController</servlet-name>
    <servlet-class>easyHosp.controller.SolicitarHospedajeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitarHospedajeController</servlet-name>
    <url-pattern>/SolicitarHospedajeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerDetalleController</servlet-name>
    <servlet-class>easyHosp.controller.VerDetalleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerDetalleController</servlet-name>
    <url-pattern>/VerDetalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>easyHosp.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HospedajeController</servlet-name>
    <servlet-class>easyHosp.controller.HospedajeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospedajeController</servlet-name>
    <url-pattern>/HospedajeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>easyHosp.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroController</servlet-name>
    <servlet-class>easyHosp.controller.RegistroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroController</servlet-name>
    <url-pattern>/RegistroController</url-pattern>
  </servlet-mapping>
</web-app>